* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu SA Beginner', cursive;
    color: black;
}

.navbar{
    background-color: rgb(90, 90, 90) !important; 
}

.navbar-nav{
    margin-left: auto;
}

.navbar-nav a{
    color: white !important;
}


.nav-link:hover{
    transform: scale(1.2,1.2);
    transition: 0.5s ease-out;
    color:black !important;
    text-decoration: underline;
}

.navbar-brand img{
    height: 50px;
    width: 70px;
}
.carousel .carousel-inner .carousel-item img{
    height: 600px;
}

.middle-tittle h2 {
    text-align: center;
    font-size: 40px;

}

.middle-tittle p {
    padding: 20px 300px 50px 300px;
    margin: auto;
}


.intro {
    height: auto;
    background-color: rgb(219, 219, 219);
   }

.icon-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

.icon-section .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    display: inline-block;
}

.fa-gamepad{
    color: rgb(70, 70, 70);
}
.icon-section .icons i {
    font-size: 80px;
    transition: 4s;

}

.icon-section .icons i:hover{
    transform: rotate(360deg);
}

.icon-section .icons h3 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 30px;
}

.icon-section .icons p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: inline-block;
    font-size: larger;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


footer {
    background-color:rgb(90, 90, 90) !important;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    height: auto;
}

footer p{
    color: white;
}

header {
    background-color: rgb(219, 219, 219);
}

main {
    background-color: rgb(219, 219, 219);
}

.desc-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: rgb(219, 219, 219);
    min-height: 90vh;

}

.text-me {
    display: grid;
    grid-template-rows: repeat(3);

}

.text-me h1 {

    text-align: center;
    font-size: 130px;
    font-weight: bold;
}

.text-0 {
    font-size: 40px;
    text-align: justify;
    padding-bottom: 15px;

}

.text-1 {
    text-align: justify;
    font-size: 25px;


}

.text-2 {
    text-align: justify;
    font-size: 25px;

}

.img-about {
    display: flex;
    align-items: center;
    justify-content: center;

}

.me {
    height: auto;
}

/*galeria*/

.title-gallery {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fr);
    justify-items: center;
    grid-row-gap: 10px;
}

.container-gallery-img img {
    width: 350px;
    height: 350px;
}

.container-gallery-img p {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

/*developers */

.title-devs {
    font-size: 50px;
    text-align: center;
    padding-bottom: 1rem;
}


.wrap{
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;;
}

.dev-tittle{
    text-align: center;
}

.card-wrap{
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.cards{
    width: 300px;
    height: 350px;
    background: white;
    transform-style: preserve-3d;
    transition: 0.7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    -moz-box-shadow:  0px 10px 15px -5px rgba(0,0,0,0.65);
    box-shadow:  0px 10px 15px -5px rgba(0,0,0,0.65);;

}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front{
    width: 100%;
}

.back{
    transform: rotateY(180deg);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    text-align: center;
    color: #fff;
}

.back p{
    margin-top: 60px;
}

.card-wrap:hover .cards{
    transform: rotateY(180deg);
}

.card1{
    background-image: url(../assets/img/dev\ 1.png);
    background-size: cover;
}

.card2{
    background-image: url(../assets/img/dev3.png);
    background-size: cover;
}
.card3{
    background-image: url(../assets/img/dev4.png);
    background-size: cover;
}

.hongo{
    margin-top: 20px;
    height: 80px;
    width: 80px;
}

.main-devs{
    min-height: 90vh;
    background-color:rgb(219, 219, 219);
}

.main-index{
    min-height: 60vh;
}

.main-gallery{
    min-height: 90vh;
}

.main-contact{
    min-height: 90vh;
}

.form{
    min-height: 85vh;
}



 
/*tablet*/

@media only screen and (max-width:768px) {

    .carousel .carousel-inner .carousel-item img{
        height: 300px;
    }

    .middle-tittle p {
        width: 100%;
        padding: 20px 20px 20px 20px;
        text-align: center;
    }

    .icon-section {
        width: 100%;
        height: auto;
    }

    .desc-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        min-height: 100vh;
        margin: auto;
        padding-left: 10px;
        padding-right: 50px
    }

    .desc-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        min-height: 100vh;
        margin: auto;
        padding-left: 10px;
        padding-right: 50px
    }

    .text-me {
        flex-direction: column;
        width: auto;
        margin: auto;
        padding-left: 0;
        text-align: center;

    }

    .me {
        flex-direction: column;
        width: auto;
        margin: auto;
        padding-left: 0;
        text-align: center;
        height: auto;
        padding-right: 0;

    }

    .desc-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        min-height: 100vh;
        margin: auto;
        padding-left: 10px;
        padding-right: 50px
    }

    .text-me {
        flex-direction: column;
        width: auto;
        margin: auto;
        padding-left: 0;
        text-align: center;
    }

    .me {
        flex-direction: column;
        width: auto;
        margin: auto;
        padding-left: 0;
        text-align: center;
        height: auto;
        padding-right: 0;
    }

    /*Galeria*/

    .container-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 10px;
    }

    /*DEVS*/

    .title-devs {
        font-size: 50px;
        text-align: center;
    }
    
    .wrap{
        width: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
        
}

/*mobile*/

@media only screen and (max-width:576px) {

    header {
        flex-direction: column;
    }

    /* index */

    .cover h1 {
        font-size: 25px
    }

    .intro {
        flex-direction: column;
    }

    .middle-tittle p {
        flex-direction: column;
        padding: 30px 0px 30px;
    }

    .icons p {
        padding: 10px;
    }

    .icon-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        min-height: 100vh;
    }

    .carousel .carousel-inner .carousel-item img{
        height: 30%;
    }

    /* About */

    .desc-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        min-height: 100vh;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }

    .text-me {
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-left: 0;
        text-align: center;
        
    }
    
    .text-me h1 {
        font-size: x-large;
        text-align: center;

    }

    .text-me p {
        font-size: medium;
        text-align: center;

    }


    .me {
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-left: 0;
        text-align: center;
        height: auto;
        padding-right: 0;
    }

    /*Galeria*/

    .container-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 10px;
    }

    /*devs*/

    .title-devs {
        font-size: 80px;
        text-align: center;
    }

    .wrap{
        width: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}