@import "vars";

@mixin txt-fontsiz{
    box-sizing: border-box;
    text-align: justify;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

@mixin txt-fontsiz2{
    box-sizing: border-box;
    text-align: justify;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    padding-bottom: 5%;
}

@mixin grid-template3-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
}

@mixin resetnav{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    color: map-get($colors, "black")
}

@mixin cards {
    width: 300px;
    height: 350px;
    background: $text-color-white;
    transform-style: preserve-3d;
    transition: 0.8s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}