@import "vars";

@mixin txt-fontsiz{
    text-align: justify;
    font-size: 25px;
}

@mixin grid-template3-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
}

@mixin resetnav{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu SA Beginner', cursive;
    color: map-get($colors, "black")
}