$text-color-black: black;
$text-color-white: white;
$nav-color: rgb(90, 90, 90);
$background-gray: rgb(219, 219, 219);
$icons-color: rgb(70, 70, 70);
$cov: cover;

$colors:(
    "nav-color": $nav-color,
    "background-gray": $background-gray,
    "text-color-black":$text-color-black,
    "text-color-white":$text-color-white,
    "icons-color": $icons-color,
    "white": white,
    "black": black,
    );
    