@import "vars";
@import "mixin";
@import "galleryimg";

* {
    @include resetnav;
}

.navbar {
    background-color: map-get($colors, "nav-color" )  !important;
}

.navbar-nav {
    margin-left: auto;
    a {
        color: $text-color-white  !important;
    }
}

.nav-link:hover {
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-out;
    color: $text-color-black  !important;
    text-decoration: underline;
}

.navbar-brand img {
    height: 50px;
    width: 70px;
}

.carousel .carousel-inner .carousel-item img {
    height: 600px;
}

.middle-tittle {
    
    h2 {
        text-align: center;
        font-size: 40px;
    }

    p {
        padding: 20px 300px 50px 300px;
        margin: auto;
    }
}

.intro {
    height: auto;
    background-color: $background-gray;
}

.icon-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        display: inline-block;
        i {
            font-size: 80px;
            transition: 1s;        
        }
        h3 {
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 5px;
            padding-top: 30px;
        
        }
        p {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            display: inline-block;
            font-size: larger;
            text-align: justify;
            padding-left: 10px;
            padding-right: 10px;
        }        
    }
}


.fa-gamepad {
    color: $icons-color;
}

.icon-section .icons i:hover {
    transform: rotate(360deg);
}

footer {
    background-color: $nav-color  !important;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    height: auto;
    p {
        color: $text-color-white;
    }
}

header {
    background-color: $background-gray;
}

main {
    background-color: $background-gray;
}

.desc-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: $background-gray;
    min-height: 90vh;

}

.text-me {
    display: grid;
    grid-template-rows: repeat(3);

    h1 {
        text-align: center;
        font-size: 130px;
        font-weight: bold;
    }
}

.text-0 {
    font-size: 40px;
    text-align: justify;
    padding-bottom: 15px;

}

.text-1 {
    @include txt-fontsiz;
}

.text-2 {
    @include txt-fontsiz;
}

.img-about {
    display: flex;
    align-items: center;
    justify-content: center;

}

.me {
    height: auto;
}

/*galeria*/

.title-gallery {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 10px;
}

.container-gallery-img{
    img {
        @extend .container-gallery-imgs;
    }

    p {
        @extend .container-gallery-p;
    }
}



/*developers */

.title-devs {
    font-size: 50px;
    text-align: center;
    padding-bottom: 1rem;
}


.wrap {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    ;
}

.dev-tittle {
    text-align: center;
}

.card-wrap {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.cards {
    @include cards;
}

.front,.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    width: 100%;
}

.back {
    transform: rotateY(180deg);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    color: $text-color-white;
    p {
        margin-top: 60px;
    }
}

.card-wrap:hover .cards {
    transform: rotateY(180deg);
}

.card1 {
    background-image: url(../assets/img/dev\ 1.png);
    background-size: $cov;
}

.card2 {
    background-image: url(../assets/img/dev3.png);
    background-size: $cov;
}

.card3 {
    background-image: url(../assets/img/dev4.png);
    background-size: $cov;
}

.hongo {
    margin-top: 20px;
    height: 80px;
    width: 80px;
}

.main-devs {
    min-height: 90vh;
    background-color: $background-gray;
}

.main-index {
    min-height: 60vh;
}

.main-gallery {
    min-height: 90vh;
}

.main-contact {
    min-height: 90vh;
}

.form {
    min-height: 85vh;
}


/*tablet*/

@media only screen and (max-width:768px) {

    .carousel .carousel-inner .carousel-item img {
        height: 300px;
    }

    .middle-tittle p {
        width: 100%;
        padding: 20px 20px 20px 20px;
        text-align: center;
    }

    .icon-section {
        width: 100%;
        height: auto;
    }

    .desc-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        min-height: 100vh;
        margin: auto;
        padding-left: 10px;
        padding-right: 50px
    }

    .text-me {
        flex-direction: column;
        width: auto;
        margin: auto;
        padding-left: 0;
        text-align: center;

    }

    .me {
        flex-direction: column;
        width: auto;
        margin: auto;
        padding-left: 0;
        text-align: center;
        height: auto;
        padding-right: 0;

    }

    /*Galeria*/

    .container-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 10px;
    }

    /*DEVS*/

    .title-devs {
        font-size: 50px;
        text-align: center;
    }

    .wrap {
        width: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

}

/*mobile*/

@media only screen and (max-width:576px) {

    header {
        flex-direction: column;
    }

    /* index */

    .cover h1 {
        font-size: 25px
    }

    .intro {
        flex-direction: column;
    }

    .middle-tittle p {
        flex-direction: column;
        padding: 30px 0px 30px;
    }

    .icons p {
        padding: 10px;
    }

    .icon-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        min-height: 100vh;
    }

    .carousel .carousel-inner .carousel-item img {
        height: 30%;
    }

    /* About */

    .desc-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        min-height: 100vh;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }

    .text-me {
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-left: 0;
        text-align: center;
        h1 {
            font-size: x-large;
            text-align: center;    
        }
        p {
            font-size: medium;
            text-align: center;    
        }
    }

    .me {
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-left: 0;
        text-align: center;
        height: auto;
        padding-right: 0;
    }

    /*Galeria*/

    .container-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        grid-row-gap: 10px;
    }

    /*devs*/

    .title-devs {
        font-size: 80px;
        text-align: center;
    }

    .wrap {
        width: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}